<p>This is a {{roomName}}</p>
<p>Downloaded: {{percentDone}}</p>
<button (click)="decreaseRoomsCount()">-1</button>
<button (click)="increaseRoomsCount()">+1</button>
<button (click)="onAddRoom()">Add room</button>
<button (click)="editRoom()">Edit room</button>
<button (click)="deleteRoom()">Delete room</button>
<p>{{getError$ | async}}</p>
<p>Rooms count: {{roomsCount$ | async}}</p>
<div *ngIf="roomsList2$ | async as roomsList">
  <ngp-rooms-list [rooms]="roomsList" (roomSelected)="roomSelected($event)" [roomsCount]="roomsCount"></ngp-rooms-list>
</div>
<ngp-header></ngp-header>
<ngp-header></ngp-header>
<ngp-header></ngp-header>
